src/main/mule/customer-billing-papi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <flow name="customer-billing-papi-main">
        <http:listener path="/api/*" config-ref="customer-billing-papi-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <set-variable value="#[attributes.headers.uuid default uuid()]" doc:name="uuid" doc:id="5ef2c168-ddeb-474d-8e1c-659605d09837" variableName="uuid"/>
		<set-variable value="#[attributes.headers.'idp-trace-id']" doc:name="idpTraceId" doc:id="b8554822-7fb9-4d82-81f2-beda519a33d3" variableName="idpTraceId"/>
		<apikit:router config-ref="customer-billing-papi-config" />
    </flow>
    <flow name="post:\billing\accounts\summary:application\json:customer-billing-papi-config">
        <flow-ref doc:name="retrieve-bill-summary-details-sub-flow" doc:id="025fc319-94dc-438d-bae1-2b75909dc1ee" name="retrieve-bill-summary-details-sub-flow" />
    </flow>
    <flow name="get:\billing\(productId)\statements\(statementId)\details:customer-billing-papi-config">
		<flow-ref doc:name="get-product-bill-details-sub-flow" doc:id="a3b32496-a7d5-4c08-a2fd-da3161239732" name="get-product-bill-details-sub-flow" />
    </flow>
    <flow name="get:\billing\(productId)\statements\(statementId)\pdf:customer-billing-papi-config">
		<flow-ref doc:name="get-product-bill-pdf-sub-flow" doc:id="4fa759e4-3751-4918-b793-2f293858b5b6" name="get-product-bill-pdf-sub-flow" />
    </flow>
    <flow name="get:\billing\(productId)\currentBill\(ban):customer-billing-papi-config">
		<flow-ref doc:name="get-product-current-bill-sub-flow" doc:id="f1ac80bd-060f-496b-9a21-98802ed8110f" name="get-product-current-bill-sub-flow" />
    </flow>
</mule>
