src/main/mule/customer-billing-papi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <flow name="customer-billing-papi-main">
        <http:listener path="/api/*" config-ref="customer-billing-papi-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="customer-billing-papi-config" />
    </flow>
    <flow name="post:\billing\accounts\summary:application\json:customer-billing-papi-config">
        <flow-ref doc:name="retrieve-bill-summary-details-flow" doc:id="025fc319-94dc-438d-bae1-2b75909dc1ee" name="retrieve-bill-summary-details-flow" />
    </flow>
    <flow name="get:\billing\(productId)\statements\(statementId)\details:customer-billing-papi-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="productId">attributes.uriParams.'productId'</ee:set-variable>
                <ee:set-variable variableName="statementId">attributes.uriParams.'statementId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<http:request method="GET" doc:name="Billing Details" doc:id="450ed45e-ba51-475f-836d-37e9de2087ec" config-ref="HTTPS_Billing_SystemAPI_Request_config" path="${secure::billingSystemAPI.http.billDetailsPath}">
			<http:headers><![CDATA[#[output application/java
---
{
	"client_secret" : "${secure::billingSystemAPI.http.clientSecret}",
	"client_id" : "${secure::billingSystemAPI.http.clientId}"
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"statementId" : vars.statementId
}]]]></http:uri-params>
		</http:request>
    </flow>
    <flow name="get:\billing\(productId)\statements\(statementId)\pdf:customer-billing-papi-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="productId">attributes.uriParams.'productId'</ee:set-variable>
                <ee:set-variable variableName="statementId">attributes.uriParams.'statementId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<http:request method="GET" doc:name="Billing PDF" doc:id="6477fa51-4862-4cd0-8bb9-2c2c9aa9e50e" config-ref="HTTPS_Billing_SystemAPI_Request_config" path="${secure::billingSystemAPI.http.billPdfPath}">
			<http:headers><![CDATA[#[output application/java
---
{
	"client_secret" : "${secure::billingSystemAPI.http.clientSecret}",
	"client_id" : "${secure::billingSystemAPI.http.clientId}"
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"statementId" : vars.statementId
}]]]></http:uri-params>
		</http:request>
    </flow>
    <flow name="get:\billing\(productId)\currentBill\(ban):customer-billing-papi-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="productId">attributes.uriParams.'productId'</ee:set-variable>
                <ee:set-variable variableName="ban">attributes.uriParams.'ban'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<http:request method="GET" doc:name="Payment System API nextSubscriptionCharges" doc:id="c0ce3afc-3292-45ec-b0e0-1bec03cefb7d" config-ref="HTTPS_Payment_SystemAPI_Request_config" path="${secure::paymentSystemAPI.http.nextSubscriptionChargesPath}">
			<http:headers><![CDATA[#[output application/java
---
{
	"client_secret" : "${secure::paymentSystemAPI.http.clientSecret}",
	"client_id" : "${secure::paymentSystemAPI.http.clientId}"
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"ban" : vars.ban
}]]]></http:uri-params>
		</http:request>
    </flow>
</mule>
