src/main/mule/customer-billing-papi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <flow name="customer-billing-papi-main">
        <http:listener path="/api/*" config-ref="customer-billing-papi-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="customer-billing-papi-config" />
    </flow>
    <flow name="post:\billing\accounts\summary:application\json:customer-billing-papi-config">
        <flow-ref doc:name="retrieve-bill-summary-details-flow" doc:id="025fc319-94dc-438d-bae1-2b75909dc1ee" name="retrieve-bill-summary-details-flow" />
    </flow>
    <flow name="get:\billing\(productId)\statements\(statementId)\details:customer-billing-papi-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="productId">attributes.uriParams.'productId'</ee:set-variable>
                <ee:set-variable variableName="statementId">attributes.uriParams.'statementId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  success: false,
  apiName: "customer-billing-crm-eapi",
  version: "v1",
  idpTraceId: "f80c9750-0252-11ea-a538-f606160048e8",
  uuid: "23be1978-a451-11ea-bb37-0242ac130002",
  timestamp: "2020-05-21T13:09:57.714-05:00",
  errorDetails: {
    code: 500,
    message: "Internal Server Error. There were issues accessing the Billing API",
    additionalInfo: "Bad Connectivity : There were issues accessing the Billing API."
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\billing\(productId)\statements\(statementId)\pdf:customer-billing-papi-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="productId">attributes.uriParams.'productId'</ee:set-variable>
                <ee:set-variable variableName="statementId">attributes.uriParams.'statementId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  content: {
    pdfData: "JVBERi0xLjMKJd/++LIKMSAwIG9iago8PC9UeXBlL0NhdGFsb2cvUGFnZXMgMyAwIFIvT3V0bGluZXMgNCAwIFIvTWV0YWRhdGEgNSAwIFI+PgplbmRvYmoKMiAwIG9iago8PC9QcmwCiUlRU9GCg== ...",
    pdfReturned: true,
    ContentType: "application/PDF",
    SOR: "BriteBill"
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\billing\(productId)\currentBill\(ban):customer-billing-papi-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="productId">attributes.uriParams.'productId'</ee:set-variable>
                <ee:set-variable variableName="ban">attributes.uriParams.'ban'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  content: {
    responseCode: "1",
    message: "SUCCESS",
    billRunDate: "1592179200000",
    totalBasicServiceChargedPrice: "79.99",
    totalNonBasicServiceChargedPrice: "11.00",
    totalStandAloneChargedPrice: "0.00",
    totalRsnChargedPrice: "5.37",
    totalEquipmentChargedPrice: "0.00",
    totalAdjustments: "0.00",
    totalMonthlyChargedPrice: "96.36",
    packageDetails: [
      {
        serviceId: "BASE-ULTIMATE-201811",
        displayName: "ULTIMATE",
        startDate: "1592179200000",
        chargedPrice: "79.99",
        retailPrice: "135.00",
        promotion: [
          {
            name: "\$55.01/mo. off base pkg. for 12 mos.",
            description: "PULT12MCON",
            amount: "79.99",
            startDate: "1576368000000",
            endDate: "1607990400000",
            "type": "Flat Off",
            promotionId: "PULT12MCON",
            discountType: "Promotion",
            externalPromoType: "Contract",
            offerAmount: "55.01",
            customerClassification: "NewCustomer"
          }
        ],
        categoryType: "Basic Service",
        typeOfPlan: "Basic Service",
        contractPrice: "135.00",
        rateType: "Contract Selling Price",
        orderProductId: "5345720",
        quantity: "1",
        numberOfChannels: "125+ live channels",
        externalOrderID: "23-299832620253340",
        allowedRefundDate: "1576368000000",
        maxAllowedRefundDate: "-1"
      }
    ],
    addOns: [
      {
        serviceId: "BOLT-CINEMAX-201610",
        displayName: "CINEMAX",
        startDate: "1592179200000",
        chargedPrice: "11.00",
        retailPrice: "11.00",
        categoryType: "Subscription",
        typeOfPlan: "Bolt-on",
        contractPrice: "11.00",
        rateType: "Contract Selling Price",
        orderProductId: "5359924",
        quantity: "1",
        allowedRefundDate: "-1",
        maxAllowedRefundDate: "-1"
      }, 
      {
        serviceId: "BOLT-3RDSTREAMFREE-201804",
        displayName: "3 Streams",
        startDate: "1592179200000",
        chargedPrice: "0.00",
        categoryType: "Concurrent Streams",
        typeOfPlan: "Bolt-on",
        rateType: "Contract Selling Price",
        orderProductId: "5345716",
        quantity: "1",
        externalOrderID: "23-299832620253340",
        allowedRefundDate: "1576368000000",
        maxAllowedRefundDate: "-1"
      }, 
      {
        serviceId: "BOLT-CDVR500FREE-201812",
        displayName: "500 hours Cloud DVR",
        startDate: "1592179200000",
        chargedPrice: "0.00",
        categoryType: "DVR",
        typeOfPlan: "Bolt-on",
        rateType: "Contract Selling Price",
        orderProductId: "5345718",
        quantity: "1",
        externalOrderID: "23-299832620253340",
        allowedRefundDate: "1576368000000",
        maxAllowedRefundDate: "-1"
      }
    ],
    rsnDetails: [
      {
        serviceId: "RSN-TIER3-201812",
        displayName: "Regional Sports Fee",
        startDate: "1592179200000",
        chargedPrice: "5.37",
        retailPrice: "5.37",
        typeOfPlan: "RSN",
        contractPrice: "5.37",
        rateType: "Contract Selling Price",
        orderProductId: "5345717",
        quantity: "1",
        externalOrderID: "23-299832620253340",
        allowedRefundDate: "1576368000000",
        maxAllowedRefundDate: "-1"
      }
    ],
    pendingServiceCancellation: false,
    isProjectedBillDate: false
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
